<!DOCTYPE html>
<html>
<head>
<% include partials/head.ejs %>
</head>
<body>
<% include partials/header.ejs %>
<div id="homeImg">
	<img src="/img/homeImg.jpg">
</div>

<div id="charImgContainer" class="content-padding clearfix">
<% for (var i = 0; i < characters.length; i++) { %>	
<div class="charImgWrapper">
	<a href="/characters/<%= characters[i].link %>">
		<img class="charImg" src="/img/<%= characters[i].poster %>">
	</a>
</div>

<% } %>
</div>

<% include partials/footer.ejs %>
<% include partials/scripts.ejs %>
</body>
</html>