<!DOCTYPE html>
<html>
<head>
	<% include partials/head.ejs %>
</head>
<body>
	<% include partials/header.ejs %>

	<div>
		<h1>The page you are looking for could not be found</h1>
	</div>

	<% include partials/footer.ejs %>
	<% include partials/scripts.ejs %>

</body>
</html>