<!DOCTYPE html>
<html>
<head>
	<% include partials/head.ejs %>
</head>
<body>
	<% include partials/header.ejs %>
	<div class="singleImgWrapper">
		<img class="singleImg" src="/img/<%= single.poster2 %>">
	</div>
	<div>
		<img src="/img/<%= single.poster %>"> 
	</div>


	<% include partials/footer.ejs %>

  	<% include partials/scripts.ejs %>
</body>
</html>